.recipe-text-input input {
    width: 100%;
}

.recipe-number-input input {
    width: 7rem;
}

.recipe-range-input input {
    display: block;
}

.recipe-input {
    max-width: 720px;
    margin-bottom: 1%;
}

.input-unit {
    margin-left: -3.5rem;
    width: 0;
}

#search-results-wrapper {
    background-color: rgba(255, 255, 255, .7);
    overflow-y: scroll;
    max-height: 15vh;
}

#secret-ingredients-holder {
    display: none;
}

.search-result:hover{
    background-color: rgba(100,100,100,.2);
}

textarea {
    width: 100%;
}
