.recipe-text-input input {
    width: 100%;
}

.recipe-number-input input {
    width: 7rem;
}

.recipe-range-input input {
    display: block;
}

.recipe-input {
    max-width: 720px;
    margin-bottom: 1%;
}

.input-unit {
    margin-left: -3.5rem;
    width: 0;
}

textarea {
    width: 100%;
}
