#search-results {
    max-height: 70vh;
    width: 40vw;
    min-width: 600px;
    overflow-Y: scroll;
}

#search-results table {
    margin: 0;
}

#search-results td, #search-results th {
    width: 100%;
    padding: 3px;
}

#search-results tr:nth-child(even) {
    background-color: rgba(255, 255, 255, .5);
}

#search-results tr:nth-child(odd) {
    background-color: rgba(120,120,120,.1);
}
