<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css' ) }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css' ) }}">

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js' ) }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js' ) }}"></script>
    {% block css %} {% endblock %}
    <title>
      {% block title %} {% endblock %}
    </title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Worm Sign</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/myrecipes">My Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/my_categories">My Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/showpantry">My Pantry</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="recommendationsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Recommendations
            </a>
            <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="recommendationsDropdown">
              <a class="dropdown-item" href="#">Highest Rated</a>
              <a class="dropdown-item" href="#">Most Recent</a>
              <a class="dropdown-item" href="#">Based on my pantry</a>
              <a class="dropdown-item" href="#">For users like me</a>
            </div>
          </li>
          {% if 'user' in session %}
          <li class="nav-item">
            <a class="nav-link" href="/signout">Sign out</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <div id="page-wrapper">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="flashed-messages">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
      </div>
      {% endif %}
      {% endwith %}

      {% block body %} {% endblock %}
    </div>

    {% block js %} {% endblock %}
  </body>
</html>
