{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block body %}
<div id="wrapper">
  <h2>
    Welcome to Recipe Manager
  </h2>

  <br />

  <h5>
    Search for any recipe
  </h5>
  <form method="post" action="">
    <p></p><input type="text" style="width:400px;" name="keyword" value="" placeholder="Enter a name, ingredient, or category"></p>
    <p class="submit"><input type="submit" name="commit" value="Search"></p>
  </form>
  <br />
  {% if notfound %}
  <h4>
    {{ notfound }}
  </h4>
  {% else %}
    {% if keyword %}
    <h4>
      Showing results for {{ keyword }}
    </h4>
      <br />
      {% for recipe in results %}
        <tr>
          {{ recipe[1] }}
          <br />
        </tr>
      {% endfor %}
    {% endif %}
  {% endif %}

</div>
{% endblock %}
