{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block body %}
<!--
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
<h2>Pantry</h2>
<table style="width:100%">
  <tr>
    <th>Ingredient</th>
    <th>Lastname</th>
    <th>Age</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
  </tr>
  <tr>
    <td>John</td>
    <td>Doe</td>
    <td>80</td>
  </tr>
</table>
<br />
-->

<form method="post" action="/showpantry">
    <br />
    <input type="text" style="width:400px;" name="keyword" value="" placeholder="Enter uid"></p>
    <input type="submit" name="commit" value="Search">
  </form>

{% if noResults %}
  <h4>
    {{ noResults }}
  </h4>
  {% else %}
    {% if keyword %}
    <h4>
      Pantry for user {{ keyword }}
    </h4>
      <br />
      {% for order in results %}
        <tr>
          {{ order }}
          <br />
        </tr>
      {% endfor %}
    {% endif %}
  {% endif %}

<div id="wrapper">
  <h2>
    Welcome to Recipe Manager
  </h2>

  <br />

  Or click <a href="/make_category">here</a> to create a category.

  <h5>
    Search for any recipe
  </h5>

  <form method="post" action="/findrecipes">
    Search by:
    <input type="radio" name="searchType" id="name" value="name" checked/>
    <label for="name">Name</label>
    <input type="radio" name="searchType" id="ingredient" value="ingredient"/>
    <label for="ingredient">Ingredient</label>
    <input type="radio" name="searchType" id="category" value="category"/>
    <label for="category">Category</label>
    <br />
    <input type="text" style="width:400px;" name="keyword" value="" placeholder="Enter a name, ingredient, or category"></p>
    <input type="submit" name="commit" value="Search">
  </form>
  <br />
  {% if notfound %}
  <h4>
    {{ notfound }}
  </h4>
  {% else %}
    {% if keyword %}
    <h4>
      Showing results for {{ keyword }}
    </h4>
      <br />
      {% for recipe in results %}
        <tr>
          {{ recipe[1] }}
          <br />
        </tr>
      {% endfor %}
    {% endif %}
  {% endif %}

</div>
{% endblock %}
