{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block body %}

<div id="wrapper">
  <h2>
    Welcome to Recipe Manager
  </h2>

  <hr />

  <a href="/createrecipe">Create a recipe</a> or search existing ones below

  <hr />

  Or click <a href="/make_category">here</a> to create a category.
  <br />
  Or click <a href="/showpantry">here</a> to Manage your Pantry.

  <h5>
    Search for any recipe
  </h5>

  <form method="post" action="/findrecipes">
    Search by:
    <input type="radio" name="searchType" id="name" value="name" checked/>
    <label for="name">Name</label>
    <input type="radio" name="searchType" id="ingredient" value="ingredient"/>
    <label for="ingredient">Ingredient</label>
    <input type="radio" name="searchType" id="category" value="category"/>
    <label for="category">Category</label>
    <br />
    <input type="text" style="width:400px;" name="keyword" value="" placeholder="Enter a name, ingredient, or category"></p>
    <input type="submit" name="commit" value="Search">
  </form>
  <br />
  {% if notfound %}
  <h4>
    {{ notfound }}
  </h4>
  {% else %}
    {% if keyword %}
    <h4>
      Showing results for {{ keyword }}
    </h4>
      <br />
      {% for recipe in results %}
        <tr>
          {{ recipe[1] }}
          <br />
        </tr>
      {% endfor %}
    {% endif %}
  {% endif %}

</div>
{% endblock %}
