<!DOCTYPE html>
<html lang="en">
<head>
    <div class="login">
  <h1>Login to Recipe Manager</h1>
        {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
  <form method="post" action="">
    <p><input type="text" name="username" value="" placeholder="Username"></p>
    <p><input type="password" name="password" value="" placeholder="Password"></p>
    <p class="submit"><input type="submit" name="commit" value="Login"></p>
  </form>
      Or click <a href="/createaccount">here</a> to create a new account.
</div>
</head>
<body>

</body>
</html>