{% extends "base.html" %}

{% block title %}Manage Pantry{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/manage_pantry.css') }}">
{% endblock %}

{% block body %}
<div class="pantry">
  <h1>Manage Your Pantry</h1>

  <a href="/home">Return to the Home Page</a>

  <form method="post" action="/showpantry">
    <h5>
      <br>
      Make an addition to your pantry:
    </h5>
    <div class="block">
      <label>Ingredient Name</label>
      <input type="text" style="width:400px;" name="pantry_order" value="" placeholder="e.g. salt">
    </div>
    <div class="block">
      <label>Amount</label>
      <input type="number" name="amount" value="" min="1" max="20000">
    </div>
    <div class="block">
      <label>Purchase Date</label>
      <input type="date" name="buy_date" value="2021-05-31">
    </div>
    <div class="block">
      <label>Expiration Date</label>
      <input type="date" name="exp_date" value="2021-05-31">
    </div>
    <input type="submit" name="commit" value="Save Item">
  </form>
  <br />

  {% if noResults %}
    <h4>
      {{ noResults }}
    </h4>
  {% elif results %}
    <table style="width:100%">
      <thead>
        <tr>
          <th>Ingredient</th>
          <th>Amount</th>
          <th>Exp. Date</th>
          <th>Order ID</th>
        </tr>
      </thead>
      <tbody>
        {% for order in results %}
          <tr>
            <td>{{ order[0] }}</td>
            <td>{{ order[1] }}</td>
            <td>{{ order[2] }}</td>
            <td>{{ order[3] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <br />
  {% endif %}

  <form method="post" action="/updatepantry">
    <h5>
      Update an Item in Your Pantry:
    </h5>
    <div class="block">
      <label>Order ID</label>
      <input type="number" name="update_order" value="123456">
    </div>
    <div class="block">
      <label>New Amount (0 deletes)</label>
      <input type="number" name="new_amount" value="0" min="0" max="20000">
    </div>
    <input type="submit" name="commit" value="Update Item">
  </form>
  <br />

</div>

{% endblock %}