{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block body %}
<body>
    <p>
        <h1>
            {{ recipe[1] }}
        </h1>
        Written on {{ recipe[8] }} by {{ creator[0] }}

    <p>
        <h6>
            {{ recipe[2] }}
        </h6>
        <br />
        <h4>
            Servings: {{ recipe[3] }}
            <br />
            Cook Time: {{ recipe[4] }} minutes
            <br />
            Difficulty: {{ recipe[5] }}
            <br />
            Rating: {{ rating[0] }}
        </h4>
    </p>
    <a href="/addcategory?id={{ recipe[0] }}">Add Recipe to a Category</a>
    {% if message %}
    <br/>
    {{ message }}
    {% endif %}
    <br/>
    <br/>
    <h2>
        Ingredients
    </h2>
    <ul>
        {% for ingredient in ingredients %}
        <li>{{ ingredient[1] }}</li>
        {% endfor %}
    </ul>
    <br/>
    <h2>
        Steps
    </h2>
    <ol>
        {% for step in steps %}
        <li>{{ step }}</li></p>
        {% endfor %}
    </ol>
    <br/>
    <h5>
        Cook Recipe
    </h5>
    <form method="post" action="/cookrecipe?id={{ recipe[0] }}">
        Scale:
        <input type="text" style="width:50px;" name="scale" value="1"  placeholder="eg. 3" required>
        Rating:
        <input type="text" style="width:50px;" name="rating" value=""  min="0" max="5" placeholder="1-5" required>
        <input type="submit" style="background-color:green" name="commit" value="Cook!">
        </form>
</body>
{% endblock %}